.homecontainer{
    position: relative;
    padding: 1vh 15vw;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5vh;
}
.homecontainer h1{
    font-size: 0.6em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    margin: 0;
}
.homecontainer h1 img{
    width: 60px;
}
.home-response{
    font-size: 0.35em;
    padding: 1vh 3vw;
    position: fixed;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    background-color: rgba(226, 60, 82, 0.3);
    border-radius: 15px;
    background-color: rgba(235, 234, 234, 0.8);
    color: rgb(10, 10, 10);
}
.homecontainer .home-background{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: center;
    background-size: cover;
}
.home-background div {
    position: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}
.homecontainer h2{
    font-size: 0.4em;
    margin: 0;
    color: #ff7d41;
}
.homecontainer .geo-denied{
    font-size: 0.33em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
.geo-denied img{
    width: 30px;
}

/*loacations*/
.homecontainer .locations-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3vh;
}
.locations-container .locations-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 64vw;
    padding: 0 5vw 1vh 1vw;
    border-bottom: #ffffff88 0.3px solid;

}
.locations-top div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}
.locations-top button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: inherit;
    font-size: 0.3em;
    margin: 0;
}
.locations-top #add-location{
  padding: 5px;
  font-size: 0.6em;
  border-radius: 50%;
  box-shadow: 5px 5px 10px #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.locations-top button img{
 width: 30px;
}


.locations-container .locations{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 1vh;
}
.locations .location{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding: 0.5vh 1vw;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 15px;
}
.location .location-summary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    min-width: 40vw;
}
.location-summary h4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1vh;
    font-size: 0.4em;
}
.location-summary h4 span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    opacity: 0.7;
    font-weight: lighter;
    font-size: 0.8em;
}
.location-summary h4 img{
    width: 18px;
}
.location-summary .location-short-weather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1vh;
    font-size: 0.35em;
}
.location-short-weather img{
    width: 60px;
    padding: 0;
    margin: 0;
}
.location-short-weather p{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    margin: 0;
}
.location-summary #last-fetched{
    font-size: 0.9em;
    opacity: 0.7;
}
.location-summary #no-short-weathers{
    font-size: 0.33em;
    opacity: 0.8;
}
.location .location-remove{
    padding-left: 3vw;
    border-left: rgb(255, 255, 255, 0.5) 1px solid;
}
.location-remove img{
    width: 30px;
}
.homecontainer .addCont{
    min-width: 60vw;
    max-width: 80vw;
    height: 80vh;
    padding: 3vh 5vw;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 5vh;
    z-index: 7;
    overflow-y: auto;
    background-color: rgba(17, 17, 17, 0.97);
}
.addCont .addContent{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
    border-bottom: #eeeeee57 0.8px solid;
    
}
.addContent button{
    background-color: transparent;
    border: none;
    font-size: 0.25em;
    cursor: pointer;
}
.addContent button img{
    width: 30px;
}

.addContent .searchform{
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 1vw;

}
.searchform input{
    font-size: 0.33em;
    padding: 1.5vh 1vw;
    /*background-color: rgba(0, 0, 0, 0.2);*/
    background-color:  transparent;
    outline: none;
    border: none;
    color: inherit;
    border-radius: 15px;
    flex-basis: 80%;
}
.searchform button{
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    border: none;
    color: inherit;
    font-size: 0.42em;
    padding: 0 1vw;
    border-left: #eeeeee4d 0.5px solid;
}
.searchform input[type='search']::-webkit-search-cancel-button{
    display: none;
    -webkit-appearance: none;
}

.addCont .searchresults{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.searchresults #searchresponse{
    align-self: center;
    font-size: 0.3em;
    opacity: 0.7;
}

.searchresults .searchlist{
    list-style-type: none;
    font-size: 0.31em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5vh;
    width: 100%;
    padding: 0;
}
.searchlist li{
    width: 100%;
    cursor: pointer;
    /*color: #099aee;*/
    opacity: 0.8;
    border-bottom: #ffffff1f 0.5px solid;
    padding-bottom:  1vh;
}
.searchlist li img{
    width: 25px;
    display: none;
}
.searchlist li:hover{
    opacity: 0.7;
}

.clearlocations{
    background-color: rgb(255, 51, 0, 0.5);
    border: none;
    align-self: flex-end;
    padding: 1vh 2vw;
    font-size: 0.3em;
    border-radius: 10px;
    color: inherit;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
.clearlocations img{
    width: 30px;
}
.clearlocations:hover{
    color: #fe9b33;
}

@media screen and (max-width: 768px) {
    .homecontainer {
        padding: 1vh 3vw;
        padding-top:  15vh;
    }
    
    .homecontainer h1{
        font-size: 0.65em;
    }
    .homecontainer h1 img{
        width: 45px;
    }
    .home-response{
        top: 10vh;
        padding: 1vh 5vw;
        font-size: 0.4em;
    }
    .homecontainer .home-background{
        width: 100vw;
        height: 100vh;
    }
    .homecontainer h2{
        font-size: 0.43em;
    }
    .homecontainer .geo-denied{
        font-size: 0.37em;
    }
    .geo-denied img{
        width: 22px;
    }
    .locations-container .locations-top{
        min-width: 90vw;
        padding-right: 2vw;
    }
    .locations-top button img{
        width: 20px;
    }
    .locations .location{
        padding: 0.5vh 2vw;
    }
    .location .location-summary{
        min-width: 70vw;
        padding-right: 3vw;
    }
    .location .location-remove{
        padding-left: 6vw;
    }
    .location .location-remove img{
        width: 17px;
    }

    .homecontainer .addCont{
        padding: 3vh 3vw;
        max-width: unset;
        width: 93.8vw;
        height: 99vh;

    }
    .searchform input{
        font-size: 0.4em;
    }
    .searchresults .searchlist{
        font-size: 0.37em;
    }
    .searchlist li img{
        width: 20px;
    }
    .searchresults #searchresponse{
        font-size: 0.4em;
    }
    
    
}
