@import "tailwindcss";
@tailwind utilities;

html,body {
  font-family: var(--font-inter), sans-serif;
  @apply bg-gray-800 text-white overflow-x-hidden max-w-screen;
}


h1{
  @apply flex flex-row justify-center items-center text-3xl font-light max-sm:text-2xl;
}

button:not(.no-global-style){
  @apply bg-blue-400/15 backdrop-blur-md
   text-white hover:bg-blue-600 border
    border-white/30 active:bg-blue-900 cursor-pointer px-5 py-1.5 rounded-md max-sm:px-2 max-sm:py-1;
}
.hide-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar{
  display: none;
}

@layer utilities {
  .precipitation-insight span{
    @apply font-semibold;
  }
  .temperature-insight span{
    @apply font-semibold;
  }
  .caution-insight span{
    @apply font-semibold;
  }
  .activity-insight span{
    @apply opacity-90;
  }
  /* Rain Animation */
  .rain-container {
    @apply fixed top-0 left-0 w-full h-full overflow-hidden pointer-events-none;
  }
  .raindrop {
    @apply absolute bg-blue-300 opacity-50 w-0.5 h-4;
    animation: rain-fall 1.2s linear infinite;
  }
  .light-rain-container {
    @apply fixed top-0 left-0 w-full h-full overflow-hidden pointer-events-none;
  }
  .light-raindrop {
    @apply absolute bg-blue-300 opacity-50 w-0.5 h-3;
    animation: rain-fall 1.2s linear infinite;
  }
  @keyframes rain-fall {
    0% { transform: translateY(-100%); opacity: 1; }
    100% { transform: translateY(100vh); opacity: 0; }
  }

  /* Snow Animation */
  .snow-container {
    @apply fixed top-0 left-0 w-full h-full overflow-hidden pointer-events-none;
  }
  .snowflake {
    @apply absolute bg-white opacity-75 w-2 h-2 rounded-full;
    animation: snow-fall 4s linear infinite;
  }
  @keyframes snow-fall {
    0% { transform: translateY(-100%) rotate(0deg); opacity: 1; }
    100% { transform: translateY(100vh) rotate(360deg); opacity: 0; }
  }

  /* Cloud Animation */
  .clouds-container {
    @apply fixed top-0 left-0 w-full h-full flex gap-4 pointer-events-none;
  }
  .cloud {
    @apply absolute bg-gray-500 opacity-80 w-[65%] h-[45%] rounded-full blur-3xl max-sm:blur-2xl;
    animation: cloud-move 12s linear infinite;
  }

  /*few cloiud container*/
  .few-clouds-container {
    @apply fixed top-0 left-0 w-full h-full flex gap-4 pointer-events-none;
  }
  .light-cloud {
    @apply absolute bg-gray-400 opacity-70 w-[30%] h-[25%] rounded-full blur-2xl max-sm:blur-xl;
    animation: cloud-move 12s linear infinite;
  }

  @keyframes cloud-move {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100vw); }
  }

  /* Lightning Animation */
  .lightning-container {
    @apply fixed top-0 left-0 w-full h-full bg-transparent pointer-events-none flex items-center justify-center;
  }
  .flash {
    @apply absolute w-[40%] h-[40%] bg-white opacity-0 blur-3xl;
    animation: lightning-flash 3s infinite;
  }
  @keyframes lightning-flash {
    0%, 100% { opacity: 0; }
    40% {opacity: 0}
    50% { opacity: 0.8; }
    60% {opacity: 0;}
    70% {opacity: 0.8}
    80% {opacity: 0;}
  }

  /*fog animation*/
  .fog-container {
    @apply fixed top-0 left-0 w-full h-full overflow-hidden pointer-events-none;
  }
  .fog {
    @apply absolute bg-gray-300 blur-[300px] max-sm:blur-[200px] opacity-65 w-[90%] h-[100%] rounded-full;
    animation: snow-fall 8s linear infinite;
  }
  @keyframes snow-fall {
    0% { transform: translateX(-100%)}
    100% { transform: translateX(100vh)}
  }

}
